<div class="content">
  <h1 class="header">Edit Contact</h1>
  <form (ngSubmit)="saveContact(contactForm)" #contactForm="ngForm">
    <section>
      <nav>Name/Info</nav>
      <div>
        <con-profile-icon-selector [(ngModel)]="contact.icon" name="icon" />
        <input type="hidden" name="id" [ngModel]="contact.id" />
        <input
          placeholder="First Name"
          [(ngModel)]="contact.firstName"
          name="firstName"
          #firstName="ngModel"
          required
          minlength="3"
          [class.error]="firstName.invalid && firstName.touched"
        />
        <em *ngIf="firstName.errors?.['required'] && firstName.touched">
          First name is required</em
        >
        <em *ngIf="firstName.errors?.['minlength'] && firstName.touched">
          First name must be at least 3 characters</em
        >
        <input
          placeholder="Last Name"
          [(ngModel)]="contact.lastName"
          name="lastName"
          required
          #lastName="ngModel"
          [class.error]="lastName.invalid && lastName.touched"
        />
        <em *ngIf="lastName.invalid && lastName.touched">
          Last name is required</em
        >
        <input
          type="date"
          placeholder="Date of Birth"
          [(ngModel)]="contact.dateOfBirth"
          name="dateOfBirth"
        />
        <div>
          <span>Favorites Ranking</span>
          <input
            placeholder="Favorites Ranking"
            [(ngModel)]="contact.favoritesRanking"
            type="range"
            min="0"
            max="5"
            name="favoritesRanking"
          />
          <span>{{ contact.favoritesRanking }}</span>
        </div>
        <div>
          <input
            type="checkbox"
            name="personal"
            [(ngModel)]="contact.personal"
          />
          Personal
        </div>
      </div>
    </section>
    <section>
      <nav>Phones</nav>
      <div class="flex-column" ngModelGroup="phones">
        <div
          *ngFor="let phone of contact.phones; let i = index"
          class="flex-column"
        >
          <div class="flex-group">
            <input
              placeholder="Phone"
              [(ngModel)]="phone.phoneNumber"
              name="phoneNumber{{ i }}"
            />
            <img
              src="/assets/plus-grey-blue.png"
              class="add"
              (click)="onAddPhone()"
            />
          </div>

          <div class="radio">
            <span *ngFor="let phoneType of phoneTypes">
              <input
                type="radio"
                [value]="phoneType.value"
                [(ngModel)]="phone.phoneType"
                name="phoneType{{ i }}"
              />
              {{ phoneType.title }}
            </span>
          </div>
        </div>
      </div>
    </section>
    <section>
      <nav>Addresses</nav>

      <div>
        <div
          class="address"
          ngModelGroup="addresses"
          #addressGroup="ngModelGroup"
          [class.error]="addressGroup.invalid && addressGroup.dirty"
        >
          <div
            *ngFor="let address of contact.addresses; let i = index"
            class="flex-column"
          >
            <div class="flex-group">
              <input
                placeholder="Address"
                [(ngModel)]="address.streetAddress"
                name="streetAddress{{ i }}"
                required
              />
              <img
                src="/assets/plus-grey-blue.png"
                class="add"
                (click)="onAddAddress()"
              />
            </div>
            <input
              placeholder="City"
              [(ngModel)]="address.city"
              name="city{{ i }}"
              required
            />
            <input
              placeholder="State/Region"
              [(ngModel)]="address.state"
              name="state{{ i }}"
              required
            />
            <input
              placeholder="Zip/Postal Code"
              [(ngModel)]="address.postalCode"
              name="postalCode{{ i }}"
              required
            />
            <select [(ngModel)]="address.addressType" name="addressType{{ i }}">
              <option
                *ngFor="let addressType of addressTypes"
                [value]="addressType.value"
              >
                {{ addressType.title }}
              </option>
            </select>
          </div>
          <em *ngIf="addressGroup.invalid && addressGroup.dirty"
            >Incomplete Address</em
          >
        </div>
      </div>
    </section>
    <section>
      <nav>Notes</nav>
      <div>
        <textarea
          [class.error]="note.invalid"
          placeholder="Notes"
          rows="3"
          [(ngModel)]="contact.note"
          name="note"
          [restrictedWords]="restrictedWords"
          #note="ngModel"
        ></textarea>
        <em *ngIf="note.errors?.['restrictedWords']"
          >Restricted word found: {{note.errors?.['restrictedWords'] }}</em
        >
      </div>
    </section>
    <div class="buttons">
      <button class="secondary" type="button">Cancel</button>
      <button class="primary" type="submit" [disabled]="contactForm.invalid">
        Save
      </button>
    </div>
  </form>
</div>
